header {
    padding-block: 3.2rem;
    font: var(--text-md);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    gap: 3.2rem;
}

#profile img {
    max-width: 17.6rem;
    max-height: 17.6rem;
    border: 50%;
    object-fit: cover;
}

#profile > div {
    max-width: 38.4rem;
}

#profile h1 {
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 0.8rem;
}

#info {
    width: 28rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#info li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}